src/main/mule/test-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="10d6ee11-7e74-4d53-8207-de0524677df8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-jenkinsFlow" doc:id="d59d0ff5-63c9-49d3-9db4-3ddbae91aae6" >
		<http:listener doc:name="Listener" doc:id="61540d2b-853d-4396-b3e6-e94f81917242" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="7b6b42d5-d9c7-49ef-8506-3146b2b1171e" message='#["test project"]'/>
	</flow>
</mule>
